#map {
  height: 100%;
  margin: 0;
  padding: 0px;
  width: 100%;
  z-index: 1;
}

#wrapper {
  height: 50%;
  width: 100%;
  position: sticky;
  top: 0;
}

#card {
  
  margin: 0 auto;
  
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  
}

.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

.controls:focus {
  border-color: #4d90fe;
}
.title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}
.borderless td, .borderless th {
  border: none;
} 

tr {
  height: 60px;
  font-family: 'Monda', sans-serif;
  color: #000;
  font-size: 12px;
}

h1{
  font-family: 'Vast Shadow', cursive;
  color: gold;
 }

 h5 {
  font-family: 'Oswald', sans-serif;
 }

 #for {
   color: gold;
 }

 h6 {
   font-family: 'Fugaz One', cursive
 }
 
 .navbar {
  background: #157EFB;
  width: 100%;
  border-bottom: 3px solid gold;
 }

 body{

  /*background-image: url("https://artisanalbrewworks.com/wp-content/uploads/2016/03/beer-background.jpg");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 }

 #navrow, #nav, #navcol {
   width: 100%;
 }

 #routebtn {
  border-radius: 12px;
  background-color:white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
 }

 .button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
 }

 .card {
   display: inline;
   width: 25%;
   float: left;
   padding: 10px;
   margin: 0 auto;
 }



 .card-text {
   font-size: 8pt;
  
 }

 .card-div{
   z-index:-1
 }
 .btn, .btn-primary {
   width: 100%;
   color: #fff;
   text-align: left;
 }
 
 .number-circle {
  border-radius: 50%;
  behavior: url(PIE.htc);
  /* remove if you don't care about IE8 */
  width: 40px;
  height: 40px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 14px;
  padding-bottom: 0px;
  background: #157EFB;
  color: #fff;
  text-align: center;
  font: 14px Arial, sans-serif;
}
#routebtn {
border-radius: 12px;
     background-color:white;
     box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
     transition: all 0.3s ease 0s;
     cursor: pointer;
     outline: none;
     float:right !important;
}
#clearroute {
border-radius: 12px;
     background-color:white;
     box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
     transition: all 0.3s ease 0s;
     cursor: pointer;
     outline: none;
     float:right !important;
}

.button:hover {
background-color: #2EE59D;
box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
color: #fff;
transform: translateY(-7px);
}

.cardin {
display: inline;
}

/* ------ MEDIA QUERIES ----- */
@media only screen and (max-width: 420px) {
.card {
  display: inline;
  width: 100%;
  float: left;
  padding: 10px;
}

h6 {
  font-size: 14px;
}

h5 {
  font-size: 16px;
}



.card-text {
  font-size: 8pt;
}

.btn, .btn-primary {
  width: 100%;
  color: #fff;
  text-align: left;
  font-size: 14px;
}

.number-circle {
 border-radius: 50%;
 behavior: url(PIE.htc);
 /* remove if you don't care about IE8 */
 width: 28px;
 height: 28px;
 padding-left: 5px;
 padding-right: 5px;
 padding-top: 8px;
 padding-bottom: 0px;
 background: #157EFB;
 color: #fff;
 text-align: center;
 font: 8px Arial, sans-serif;
}

} 





@media only screen and (max-width: 960px) {
.card {
  display: inline;
  width: 33%;
  float: left;
  padding: 10px;
}

h6 {
  font-size: 14px;
}

h5 {
  font-size: 16px;
}



.card-text {
  font-size: 8pt;
 
}

.btn, .btn-primary {
  width: 100%;
  color: #fff;
  text-align: left;
  font-size: 14px;
}

.number-circle {
 border-radius: 50%;
 behavior: url(PIE.htc);
 /* remove if you don't care about IE8 */
 width: 28px;
 height: 28px;
 padding-left: 5px;
 padding-right: 5px;
 padding-top: 8px;
 padding-bottom: 0px;
 background: #157EFB;
 color: #fff;
 text-align: center;
 font: 8px Arial, sans-serif;
}

} 




@media only screen and (max-width: 1240px) {
.card {
  display: inline;
  width: 33%;
  float: left;
  padding: 10px;
}

.card-text {
  font-size: 8pt;
 
}

.btn, .btn-primary {
  width: 100%;
  color: #fff;
  text-align: left;
}

.number-circle {
 border-radius: 50%;
 behavior: url(PIE.htc);
 /* remove if you don't care about IE8 */
 width: 34px;
 height: 34px;
 padding-left: 6px;
 padding-right: 6px;
 padding-top: 10px;
 padding-bottom: 0px;
 background: #157EFB;
 color: #fff;
 text-align: center;
 font: 10px Arial, sans-serif;
}
}