

#map {
    height: 50%;
    width: 85%;
    position: sticky;
    top: 0;
    
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .controls {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    height: 29px;
    margin-left: 17px;
    margin-top: 10px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }

  .controls:focus {
    border-color: #4d90fe;
  }
  .title {
    font-weight: bold;
  }
  #infowindow-content {
    display: none;
  }
  #map #infowindow-content {
    display: inline;
  }
  .borderless td, .borderless th {
    border: none;
  } 

  tr {
    height: 60px;
    font-family: 'Monda', sans-serif;
    color: #000;
    font-size: 12px;
  }

  h1{
    font-family: 'Vast Shadow', cursive;
    color: gold;
   }

   h5 {
    font-family: 'Oswald', sans-serif;
   }

   h6 {
     font-family: 'Fugaz One', cursive
   }
   
   .navbar {
   background-color: brown;
   width: 100%;
   border-bottom: 3px solid gold;
   }

   body{

    /*background-image: url("https://artisanalbrewworks.com/wp-content/uploads/2016/03/beer-background.jpg");*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   }

   #navrow, #nav, #navcol {
     width: 100%;
   }

   #routebtn {
    border-radius: 12px;
    background-color:white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
   }

   .button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
   }
   